<link rel="stylesheet" href="/css/forgotten_password.css">
<body>
    <div class="view-form">
    <form action="/users/forgotten-password" method="post" id="forgotten-password-form">
        <input type="email" name="email" required placeholder="Enter your registered email">
        <button type="submit" id="btn">Send Reset Link</button>
    </form> 
    </div>
       
</body>

