<link rel="stylesheet" href="/css/home.css">
    <div id="center-all">
        <div id="image-text-container">
            <img id='facebook_home_image' src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg"
                alt="facebook_home_image"><br>
            <h2 id="text">Facebook helps you connect and share with the people in your life</h2>
        </div>

        <div id="view-form">
            <div id="sign-in-form">
                <form action="/users/create-session" method="post">
                    <input type="email" name="email" placeholder="Enter your email"><br>
                    <input type="password" name="password" placeholder="Password"><br>
                    <button id='log-in-btn' type="submit">Log in</button><br>
                    <a id="forgotten-password" href="/users/forgotten-password">Forgotten Password ?</a>
                </form>
            </div>

            <div id="broken-line">
            </div>
            <a id="create-account" href="/users/sign-up">Create Account</a>
        </div>
    </div>