<link rel="stylesheet" href="/css/update_password.css">
<body>
    <form action="/users/update-password" method="post" id="update-password-form">
        <input type="password" name="password" >
        <input type="hidden" name="user_id" value="<%=user_id%>">
        <button type="submit" id="btn">Update password</button>
    </form>
    
</body>
