<link rel="stylesheet" href="/css/user_profile.css">
<body>
    <div id="user">
    <h3>hey !!<strong><%=user.name%></strong> welcome </h3>

    <%if(locals.user){%>
        <a href="/users/sign-out" id="btn">sign-out</a>
    <%}%>
    </div>
</body>
