#forgotten-password-form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

#forgotten-password-form input{
    margin: 0.25em;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
}

#btn{
    border: none;
    width: fit-content;
    border-radius: 6px;
    font-size: 22px;
    line-height: 48px;
    padding: 5px 30px;
    background-color: #42b72a;
    text-decoration: none;
    color: white;
    text-align: center;
}